<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="E:\College\2nd year\4th sem\DBMS\app\src\main\resources\static\css\index.css"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="header">
            <a href="file:///E:/College/2nd%20year/4th%20sem/DBMS/app/src/main/resources/templates/home.html">
            <img src="E:\College\2nd year\4th sem\DBMS\app\src\main\resources\static\img\logo.png" alt="Logo" style="position: absolute; z-index: 0; width: 400px; height: 120px; top : 20px;">
        </a>
            <img src="E:\College\2nd year\4th sem\DBMS\app\src\main\resources\static\img\Header.png" alt="Header Image">
        </div>
        <header>
    </div>
</body>
</html>
