<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Shipment</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/cancelshipment.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="header">
            <a href="home.html">
                <img src="{{ url_for('static', path='img/logo.png') }}" alt="Logo" style="position: absolute; z-index: 0; width: 400px; height: 120px; top : 20px;">
            </a>
            <img src="{{ url_for('static', path='img/Header.png') }}" alt="Header Image">
        </div>
       
        <h1 class="shipment-heading">Cancel Shipment</h1>
        <table border="1">
            <tr>
                <th>Courier ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Dimensions</th>
                <th>Courier Status</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td onclick="cancelShipment('{{ row[0] }}')">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </table>
    </header>
</body>
<script>
    function cancelShipment(courierId) {
        if (window.confirm("Are you sure you want to cancel this shipment?")) {
            // Send an AJAX request to the server to delete the record
            fetch('/deleteShipment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ courierId: courierId }),
            })
            .then(response => {
                if (response.ok) {
                    console.log("Shipment with Courier ID " + courierId + " canceled successfully.");
                } else {
                    console.error("Failed to cancel shipment.");
                }
            })
            .catch(error => {
                console.error("Error occurred while canceling shipment:", error);
            });
        }
    }
</script>


</html>
