<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/create_account.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="header">
            <a href="home.html">
            <img src="{{ url_for('static', path='img/logo.png') }}" alt="Logo" style="position: absolute; z-index: 0; width: 400px; height: 120px; top : 20px;">
        </a>
            <img src="{{ url_for('static', path='img/Header.png') }}" alt="Header Image">
        </div>
        <header>
    <div class="container">
        <h2>Create Account</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="login-id">Login ID:</label>
                <input type="text" id="login-id" name="login-id" placeholder="Enter your login ID" required>
            </div>
            <div class="form-group">
                <label for="f-name">First Name:</label>
                <input type="text" id="f-name" name="f-name" placeholder="Enter your First Name" required>
            </div>
            <div class="form-group">
                <label for="l-name">Last Name:</label>
                <input type="text" id="l-name" name="l-name" placeholder="Enter your Last Name" required>
            </div>
            <div class="form-group">
                <label for="l-name">Email ID:</label>
                <input type="text" id="mail" name="mail" placeholder="Enter your Email ID" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="password">Re-Enter Password:</label>
                <input type="password" id="password" name="password" placeholder="Re-Enter your password" required>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
            <div class="form-group">
                <a href="login.html" class="create-account">Already have an account?</a>
            </div>
        </form>
    </div>
</body>
</html>