<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="container">
            <a href="/home.html">   
                <img src="{{ url_for('static', path='img/logo.png') }}" alt="Logo" style="position: absolute; z-index: 0; width: 400px; height: 120px; top : 20px;">
        </a>
            <img src="{{ url_for('static', path='img/Header.png') }}"  alt="Header Image">
        </div>

        <div class="header-container">
            <nav>
                <ul>                    
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="bookshipment.html">Book Your Shipment</a></li>
                    <li><a href="trackshipment.html">Track Your Shipment</a></li>
                    <li><a href="cancelshipment.html">Cancel Shipment</a></li>
                    <li><a href="updateshipment.html">Update Shipment</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="banner">
        <h1>&nbsp&nbsp&nbsp&nbsp&nbspWelcome to Our Shipping Service</h1>
        <p>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Delivering your parcels with care and precision.</p>
        <img src="{{ url_for('static', path='img/home_logo.png') }}"" alt="Banner Image" class="banner-image">
    </section>

    <section id="content">
        <h2>About Our Services</h2>
        <p>We offer domestic and international dispatch.</p>
    </section>

    <footer>
        <p>&copy; 2024 Shipping Service. All rights reserved.</p>
    </footer>
</body>
</html>
