<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Shipment</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/trackshipment.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="header">
            <a href="home.html">
            <img src="{{ url_for('static', path='img/logo.png') }}" alt="Logo" style="position: absolute; z-index: 0; width: 400px; height: 120px; top : 20px;">
        </a>
            <img src="{{ url_for('static', path='img/Header.png') }}" alt="Header Image">
        </div>
       
        <h1 class="shipment-heading"><br><br><br><br>Shipment Tracking</h1>
        <div align="left"><
        <table border="1">
            <tr>
                <th>Courier ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Dimensions</th>
                <th>Courier Status</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </table>
        <header>
    </div>
</body>
</html>
